<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr> 
                            <th>Sr. No</th>
                            <th>Product name</th>
                            <th>Product image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Iphone</td>
                            <td>some image</td>
                            <td>this is branded iphone</td>
                            <td>50,000</td>
                            <td>1</td>
                            <td>50,000</td>
                            <td>
                                <button class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Remove</button>
                            </td>
    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title"> My cart</h5>
        </div>
        <div class="center">
            <img src="https://www.pngitem.com/pimgs/m/82-828844_empty-cart-icon-png-transparent-png.png" alt="">
            <h4>Your cart is empty</h4>
            <h6> Add item(s) to it now</h6>
              <button class="btn btn-primary">Shop now</button>
           
        </div>
    </div>
</ng-container>

