<header>
  <div class="navbar bg-primary">
    <div class="navbar-brand align-item-center d-flex" style="color: white">
      <i
        class="fas fa-shipping-fast"
        style="color: white; font-size:25px; margin: 5px 3px 0 50px;" 
        
        >&nbsp;</i
      >
      <a routerLink="/products" style="color: white; text-decoration: none">
        <strong style="font-size: 25px"> Storex </strong></a
      >

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search item" />
        <span class="fas fa-search search-icon"></span>
      </div>
    </div>
    <button routerLink="/cart" class="byn btn-primary cart">
      <i style="font-size: 20px" class="fa fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
</header>
